body {
  background-image: url("/background/forest.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;1,500&family=Raleway&display=swap');

/* purgecss start ignore */
@tailwind base;

@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/* purgecss start ignore */
html {
  @apply antialiased;
}
