@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Great+Vibes&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amiri&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gulzar&display=swap");
@import url("https://fonts.googleapis.com/css?family=Aref+Ruqaa&display=swap");

/* purgecss start ignore */
@tailwind base;

@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/* purgecss start ignore */
html {
  @apply antialiased;
  height: 100%;
  background: url("/background/flowers-and-berries.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  body {
    height: 100%;
    background: url("/background/flowers-and-berries.jpg") no-repeat center center
      fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.dalil::-webkit-scrollbar {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c2ff9c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #07e363;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #08bd52;
}
